pkgbase = glfw-wayland-minecraft-libdecoration
	pkgdesc = A free, open source, portable framework for graphical application development (wayland, patched for Minecraft and Gnome)
	pkgver = 3.4.0
	pkgrel = 1
	url = https://github.com/EncryptedCicada/minecraft-wayland
	arch = x86_64
	license = custom:ZLIB
	makedepends = mesa
	makedepends = cmake
	makedepends = doxygen
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = extra-cmake-modules
	makedepends = wayland-protocols
	makedepends = libxi
	makedepends = libxrandr
	makedepends = libxcursor
	makedepends = libxkbcommon
	makedepends = libxinerama
	depends = wayland
	depends = libxkbcommon
	depends = libgl
	depends = libdecor
	provides = glfw=3.4.0
	conflicts = glfw
	conflicts = glfw-wayland
	source = https://github.com/glfw/glfw/archive/87d5646f5d2bad0562744501633bf8105f59c193.tar.gz
	source = 0001-libdecoration-support.patch
	source = 0002-set-O_NONBLOCK-on-repeat-timerfd.patch
	source = 0003-wayland-don-t-crash-app-on-api-calls-to-window-focus.patch
	source = 0004-fix-broken-opengl-screenshots-on-mutter.patch
	source = 0005-don-t-crash-on-get-scancode-name.patch
	sha256sums = 7b8c990cfb039110d38c7f5bb21948c402933be3f93f333fe7dcda3deaf72aa4
	sha256sums = c163b4a0a6496d758bc656203c23151015683754a6b5c2fc4944df7296d6b5af
	sha256sums = 5cd74a83dc7824c7696c1534f880b7a4a0992bb6dba6e4531ad1c040541f1d30
	sha256sums = a442f8c7e40fb09775f922b95402108b366114874ee96e370c29e5f8500a02b7
	sha256sums = 27aea70b07df2d46ac7469c129d28d695eff1ec9492489aa7b2558dd780ebdf0
	sha256sums = 16a2410511d75f00902ab1869942a80d85261f8390a97be946f82662891351e5

pkgname = glfw-wayland-minecraft-libdecoration
