pkgbase = glfw-wayland-minecraft
	pkgdesc = A free, open source, portable framework for graphical application development (wayland, patched for Minecraft)
	pkgver = 3.3.5
	pkgrel = 1
	url = https://github.com/Admicos/minecraft-wayland
	arch = x86_64
	license = custom:ZLIB
	makedepends = mesa
	makedepends = cmake
	makedepends = doxygen
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = extra-cmake-modules
	makedepends = wayland-protocols
	makedepends = libxi
	makedepends = libxrandr
	makedepends = libxcursor
	makedepends = libxkbcommon
	makedepends = libxinerama
	depends = wayland
	depends = libxkbcommon
	depends = libgl
	provides = glfw=3.3.5
	conflicts = glfw
	conflicts = glfw-wayland
	source = https://github.com/glfw/glfw/archive/3.3.5.tar.gz
	source = 0001-set-O_NONBLOCK-on-repeat-timerfd.patch
	source = 0002-Don-t-crash-on-calls-to-focus-or-icon.patch
	source = 0003-fix-broken-opengl-screenshots-on-mutter.patch
	source = 0004-Do-not-crash-on-window-position-set.patch
	sha512sums = cbb8ebf25d3d826eb1daeff3ad2e0e965ce9def3352955f297743d918f625d96bc05bf87c90f7b57ec53376a0f2f6ce62f80b57fac4e81e023400de275e97beb
	sha512sums = e90c5995f405dc5d0581c597719fb1bf0d9335cec162506e34e37c676a4d6eee4a50f2c9d5d1bd1a27f3668ea4a0570db24a10aad7145cd8688e25523d497de8
	sha512sums = 02fbbb28f6f6ffae3b5b32aac76218b917229e491981e4576054e96a78c7a3dfec3f3b2ffb939d47188b5d47681805c05d66b6fd75ad18b1d225655187ddfb9a
	sha512sums = 3ca405894fb3549c0bba69fd9f3b5bc5ade1d010e5d82a76c8c2684fd8f008976ad81344b842993a6620e7935c177c524acd2bf1d43c9790dd404a845bdcef72
	sha512sums = 77732e58d6a6b3406ded5aa208b77bcdcaee808ed9a624ea2f41331a1231a96589bb0608d88835f7081f1fdb8b538e63f9cdc8d8fdbb0ce4b1d588c667782af1

pkgname = glfw-wayland-minecraft
